
// .wrap-parent {
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }
// .parent {
//    display: flex;
//    flex-direction: column;
//    max-width: 200px;
// }

// .placeholder {
//     position: relative;
//     color: red;
//     pointer-events: none; 
// }

.wrapper {
    position: fixed;
    width: 100%;
    z-index: 100;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(3, 18, 26, 0.5);
    .parent {
        position: relative;
        padding: 16px;
        background-color: rgba(255, 255, 255);
        max-width: 600px;
        min-height: 200px;
        width: 432px;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
        margin: 0 auto;
        transform: translateY(30%);
        .iconClose {
            position: absolute;
            right: 3%;
            cursor: pointer;
        }
        .title {
            line-height: 28px;
            font-size: 24px;
            color: rgba(3, 18, 26, 1.00);
            font-weight: 700;    
        }
        .wrapParent {
            padding-top: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .parentDOB {
                display: flex;
                flex-direction: column;
                justify-content: center;
                text-align: center;
                width: 32%;
                .titleText {
                    color: rgb(104, 113, 118);
                }
                .parentInput {
                    padding: 5px;
                    border: 1px solid grey;
                    border-radius: 6px;
                    background-color: rgba(255, 255, 255);
                    .inputDOB {
                        background-color: transparent;
                        border: none;
                        outline: none; 
                        &:focus {
                            background-color: transparent;
                            border: none;
                            outline: none; 
                        }
                    }
                }
                .errorInput {
                    color: rgb(231, 9, 14);
                    font-weight: 500;
                    line-height: 20px;
                    font-size: 14px;
                }
            }
        }
        .wrapGender {
                .titleText {
                color: rgb(104, 113, 118);
            }
            .parentGender {
                margin-top: 20px;
                width: 30%;   
                margin-left: 10px;    
            }
        }
        .errorGender {
            color: rgb(231, 9, 14);
            font-weight: 500;
            line-height: 20px;
            font-size: 14px;   
        }
        .wrapRegister {
            background-color: rgb(255, 94, 31);
            margin-top: 24px;
            padding-bottom: 8px;
            padding-top: 8px;
            padding-left: 12px;
            padding-right: 12px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            color: #fff;
            text-align: center;
            width: 100%;
            border: none;
        }
        .wrapSkip {
            background-color: red;
            margin-top: 24px;
            padding-bottom: 8px;
            padding-top: 8px;
            padding-left: 12px;
            padding-right: 12px;
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
            border-top-left-radius: 6px;
            border-top-right-radius: 6px;
            color: #fff;
            text-align: center;
            width: 100%;
            border: none;
            
        }
     }
}