.wrap-parent {
    display: flex;
    align-items: center;
    justify-content: center;
}
.parent {
   display: flex;
   flex-direction: column;
   max-width: 200px;
}

.placeholder {
    position: relative;
    color: red;
    pointer-events: none; 
}

